    // colors
    // rgb(26, 232, 26)
    $main_accent: #8bc34a;
    $secondary_accent: #5c8e29;
    $black: #000;
    $white: #fff;
    $main_text: #36454d;
    $secondary_text: #546e7a;
    $secondary_color: #cfd8dc;
    $bg_color : #f0f3f5;
    $yellow: #fff700;


    // fonts

    $primary_font: "Roboto", sans-serif;